{extend name="public/base"}
{block name="main"}
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    售后管理<small>售后服务受理</small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center;">
                        生成售后服务单
                    </div>
                    <div class="panel-body">
                              <div class="row">
                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                    <div class="panel panel-default">
                        
                        <div class="panel-body">
                            <form role="form" method="post" action="{:url('index/after_sale/addAjax')}" enctype="multipart/form-data" >
                                
                                <div class="form-group">
                                        <label>订单编号</label>
                                        <input type="text" class="form-control"  name="order_number">  
                                </div>
                                <div class="form-group">
                                        <label>问题分类</label>
                                        <input type="text" class="form-control"  name="problem_type">
                                </div>
                                <div class="form-group">
                                        <label>问题详情</label>
                                         <textarea name="problem_desc" class="form-control"  rows="3"></textarea>
                                </div>
                              
                                <div style="text-align: center"> 
                                    <button class="btn btn-primary">生成售后服务单</button>
                                </div>
                            </form>
                          
                        </div>
                    </div>
                </div>
             
            </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
{/block}