{extend name="public/base"}
{block name="main"}
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    家电销售<small>订单管理</small>
                </h1>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center;">
                        批量导入
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <form role="form" enctype="multipart/form-data" action="{:url('index/sale/uploadAjax')}" method="post">
                                    <div class="form-group">
                                            <label>选择Excel文件</label>
                                            <input class="form-control" type="file" name="files">
                                           
                                    </div>
                                    
                                    <div style="text-align: center;">
                                     <button type="submit" class="btn btn-primary">保存并更新</button>
                                     </div>
                                </form>
                            </div>
                        </div>
                   
                    </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>

{/block}